<% records_model = records.model.name.pluralize.downcase %>

<table id=<%= records_model %>>
  <thead>
    <% if defined?(scoped) %>
      <% scope = records_model %>
      <% url = :home %>
    <% else %>
      <% url = records_model %>
    <% end %>
    <% opts = { model: records_model, scope: scope, url: url } %>
    <th><%= render 'layouts/sortable', opts.merge(column: :id) %></th>
    <th><%= render 'layouts/sortable', opts.merge(column: :first_name) %></th>
    <th><%= render 'layouts/sortable', opts.merge(column: :last_name) %></th>
    <th><%= render 'layouts/sortable', opts.merge(column: :birth_year) %></th>
  </thead>
  <tbody>
    <% records.each do |record| %>
      <tr>
        <td><%= record.id %></td>
        <td><%= record.first_name %></td>
        <td><%= record.last_name %></td>
        <td><%= record.birth_year %></td>
      </tr>
    <% end %>
  </tbody>
</ul>
