<% records_model = records.model.name.pluralize.downcase %>

<table id=<%= records_model %>>
  <thead>
    <% if defined?(scoped) %>
      <% opts = { model: records_model, scoped: true, url: :home } %>
    <% else %>
      <% opts = { model: records_model } %>
    <% end %>
    <th>
      <%= render 'layouts/sortable_theader', opts.merge(column: :id) %>
    </th>
    <th>
      <%= render 'layouts/sortable_theader', opts.merge(column: :first_name) %>
    </th>
    <th>
      <%= render 'layouts/sortable_theader', opts.merge(column: :last_name) %>
    </th>
    <th>
      <%= render 'layouts/sortable_theader', opts.merge(column: :birth_year) %>
    </th>
  </thead>
  <tbody>
    <% records.each do |record| %>
      <tr>
        <td><%= record.id %></td>
        <td><%= record.first_name %></td>
        <td><%= record.last_name %></td>
        <td><%= record.birth_year %></td>
      </tr>
    <% end %>
  </tbody>
</ul>
